# Java
*.class
*.jar
*.war
*.ear

# Eclipse
/.project
/.classpath
/.settings
*.component
org.eclipse.wst.common*

# IntelliJ IDEA
/.idea
*.iml
*.iws
*.ipr

# Operating System
Thumbs.db
.DS_Store

# Gradle
/.gradle
!gradle-wrapper.jar
.classpath

# Maven
/target

# Build
/out
/build
/bin

# Other
*.log
*.swp
*.bak

# Docker Dev Container
/.devcontainer
/.apt_generated/
/.apt_generated_tests/
